body {
  font-family: var(--sl-font-sans);
  background-color: var(--sl-color-primary-100);
  color: var(--sl-color-neutral-900);
}
main {
  display: flex;
  flex-direction: column;
  gap: 20rem;
  margin-block-start: 6rem;
  min-height: 40vh;
}
@media (max-width: 767px) {
  main {
    gap: 16rem;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}