body {
  background-color: var(--color-main-500);
}

body,
button {
  font-family: 'var(--font-mont)', sans-serif;
  color: #222;
}

main {
  flex: 1;
  margin-bottom: var(--gap--sm);
}

.c-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../img/background.jpg) center center no-repeat;
  background-size: cover;
  opacity: .05;
}

.c-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
}