.l-container {
  padding-inline: var(--sl-spacing-large);
  margin-inline-start: auto;
  margin-inline-end: auto;
}
@media (max-width: 767px) {
  .l-container {
    padding-inline: var(--sl-spacing-medium);
  }
}