.l-row {
  display: flex;
  gap: var(--sl-spacing-medium) var(--sl-spacing-large);
  align-items: center;
}
.l-row--small {
  gap: var(--sl-spacing-small) var(--sl-spacing-medium);
}
.l-row--wrap {
  flex-wrap: wrap;
}
.l-row--stretch {
  align-items: stretch;
}
@media (max-width: 767px) {
  .l-row {
    justify-content: center;
    gap: var(--sl-spacing-medium);
  }
}