
.l-section {
  max-width: 120rem;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-block: var(--sl-spacing-2x-large);
  gap: var(--sl-spacing-large);
}
@media (max-width: 767px) {
  .l-section {
    padding-block: var(--sl-spacing-x-large);
  }
}