.c-language-switcher {
  display: inline-flex;
  text-transform: uppercase;
}
.c-language-switcher li:not(:last-child)::after {
  content: "|";
}
.c-language-switcher a {
  padding: var(--gap-sm);
}
.c-language-switcher__active {
  text-decoration: none;
  font-weight: bold;
  cursor: default;
}