:root {
  --color-main-500: #00787B;

  --gap: 3.2rem;
  --gap-sm: calc(var(--gap) / 2);
  --gap-xs: calc(var(--gap) / 4);
  --gap-lg: calc(var(--gap) * 1.5);
}

@media (max-width: 767px) {
  :root {
    --gap: 2.8rem;
  }
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--color-main-500);
  font-size: 1.6rem;
  z-index: 1;
  height: 100%;
}
h1,
h2,
h3,
body,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
}
button {
  background: none;
}
body,
button {
  font-family: 'Montserrat', sans-serif;
}
a,
body,
button {
  color: #FFF;
}

li,
p {
  line-height: 1.5;
}
h3 {
  margin-block-end: var(--gap-sm);
}
ul {
  list-style: none;
}

/* Components */

/* Grid */
.c-grid {
  display: flex;
  gap: var(--gap);
}


.c-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/background.jpg) center center no-repeat;
  background-size: cover;
  opacity: .05;
}
.c-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
  text-align: center;
}
.c-section {
  padding: var(--gap) var(--gap) var(--gap-sm);
  margin-bottom: var(--gap-lg);
}
.c-section__heading {
  font-size: 2.6rem;
  font-weight: 400;
  margin-bottom: var(--gap-sm);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-social {
  display: flex;
  align-items: center;
  gap: var(--gap);
}
.c-icon {
  opacity: .8;
  fill: #FFF;
  transition: opacity .2s;
}
.c-icon:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  header {
    margin-block-end: var(--gap);
  }
  .c-logo {
    width: 15rem;
  }
  .c-icon {
    width: 3rem;
  }
}

main {
  flex: 1;
  margin-bottom: var(--gap--sm);
}
.c-hero {
  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
  text-align: center;
  margin-bottom: var(--gap-lg);
}
.c-hero__1 {
  font-size: clamp(6rem, 10rem, 10rem);
}
.c-hero__2 {
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-weight: normal;
  line-height: 1.4;
}
.c-hero__3 {
  font-size: clamp(4rem, 8vw, 7rem);
  font-weight: normal;
  line-height: 1;
}
.c-button {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-xs);
  border: .3rem solid;
  border-radius: var(--gap-xs);
  height: 7rem;
  padding: var(--gap-xs) var(--gap);
  box-sizing: border-box;
  font-size: 2.6rem;
  text-decoration: none;
  background-color: #FFFFFF22;
  transition: background-color .2s;
}
.c-button--sm {
  height: 5rem;
  font-size: 1.8rem;
  padding: var(--gap-xs) var(--gap-sm);
}
.c-button:hover {
  background-color: var(--color-main-500);
}
@media (max-width: 767px) {
  .c-button--sm {
    font-size: 1.5rem;
  }
}

/* Features */
.c-features {
  background-color: #FFFFFF44;
  margin-bottom: 0;
  padding-bottom: var(--gap-lg);
}
.c-features__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--gap-xs) var(--gap);
  padding: var(--gap-sm) var(--gap);
  list-style: none;
}
.c-features__logo {
  width: 10rem;
}
@media (max-width: 767px) {
  .c-features__logo {
    width: 6rem;
  }
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  padding: var(--gap-lg);
  background-color: rgba(0, 0, 0, .8);
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
  }
}