---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import Social from './Social.astro'

const currentLang = getLangFromUrl(Astro.url)
const t = useTranslations(currentLang)
---

<footer class="footer is-hidden-print">
  <p>{ t('copyright') }</p>
  <Social />
  <a target="_blank" href="https://www.zaask.pt/user/emanuelsaramago"><img src="https://www.zaask.pt/widget?user=444982&widget=pro-findme" alt="" /></a>
</footer>

<style scoped>
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--sl-spacing-medium);
  padding: var(--sl-spacing-large);
  margin-block-start: 18rem;
  background-color: rgba(0, 0, 0, .7);
  font-size: 1.5rem;
  color: #FFF;
  fill: #FFF;
  text-align: center;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
    padding: var(--sl-spacing-large) var(--sl-spacing-medium);
  }
}
</style>