---
import { getLangFromUrl } from '../i18n/utils'
import { languages, defaultLang } from '../i18n/ui'
import pages from '@/pages'

const pathname = new URL(Astro.request.url).pathname
const currentLang = getLangFromUrl(Astro.url)
const langPath = currentLang === defaultLang ? '' : currentLang
const currentPath = pathname.replace('/' + langPath, '').replaceAll('/', '') // remove the first "/" and the lang path

function getURL(lang: string) {
  const langPath = lang === defaultLang ? '' : '/' + lang
  return `${langPath}/${pages[currentPath] || ''}`
}
---
<ul>
  {Object.entries(languages).map(([lang]) => (
    <li>
      <a href={getURL(lang)} class={lang === currentLang ? `active` : ''}>{lang}</a>
    </li>
  ))}
</ul>

<style>
ul {
  display: flex;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: calc(var(--sl-spacing-small) * -1);
}
li:not(:last-child)::after {
  content: "|";
}
ul a {
  padding: var(--sl-spacing-small);
}
.active {
  text-decoration: none;
  font-weight: bold;
  cursor: default;
}
</style>