---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
const lang = getLangFromUrl(Astro.url)
const t: any = useTranslations(lang)

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1) // remove the first "/"

const pages = [
	{
    name: t('navigation').home,
    path: lang === 'en' ? lang : ''
  },
	{
    name: t('navigation').work,
    path: lang === 'en' ? lang + '/work' : 'trabalho'
  },
  {
    name: t('navigation').meeting,
    path: lang === 'en' ? lang + '/meeting' : 'reuniao',
    external: true,
  }
]
---

<nav>
  <ul>
		{
			pages.map(page => (
				<li class={currentPath === page.path ? 'active' : ''}>
					<a href={`/${page.path}`} target={page.external ? '_blank' : '_self'}>{page.name}</a>
				</li>
			))
		}
  </ul>
</nav>

<style>
ul {
  display: flex;
  gap: var(--sl-spacing-large);
  @media (max-width: 1000px) {
    gap: var(--sl-spacing-small);
  }
  @media (max-width: 700px) {
    gap: var(--sl-spacing-medium);
  }
}
a {
  font-size: 1.8rem;
  text-decoration: none;
}
.active a {
  cursor: default;
  font-weight: bold;
}
</style>