---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
const lang = getLangFromUrl(Astro.url)
const t: any = useTranslations(lang)

const pathname = new URL(Astro.request.url).pathname
const currentPath = pathname.slice(1) // remove the first "/"

const pages = [
	{
    name: t('navigation').home,
    path: lang === 'en' ? lang : ''
  },
	{
    name: t('navigation').work,
    path: lang === 'en' ? lang + '/work' :  'trabalho'
  },
]
---

<nav>
  <ul>
		{
			pages.map(page => (
				<li class={currentPath === page.path ? 'active' : ''}>
					<a href={`/${page.path}`}>{page.name}</a>
				</li>
			))
		}
  </ul>
</nav>

<style>
ul {
  display: flex;
  gap: var(--sl-spacing-small);
}
a {
  font-size: 1.8rem;
}
.active a {
  cursor: default;
  font-weight: bold;
  text-decoration: none;
}
</style>