---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
const lang = getLangFromUrl(Astro.url)
const t: any = useTranslations(lang)

interface ButtonEmailProps {
  size?: 'xs' | 'sm',
  subject?: string
  variant?: 'light'
}

const {
  size,
  subject,
  variant
} = Astro.props as ButtonEmailProps

const email = t('email')
---

<a
  href={`
    mailto:emanuel@emanuelsaramago.com
    ?subject=${email.subject} ${subject ? ' | ' + subject : ''}
    &body=${email.body}
  `}
  class={`
    button
    ${size && `button--${size}`}
    ${variant && `button--${variant}`}
  `}
>
  {
    size !== 'xs' && (
      <svg width="21" height="17" viewBox="0 0 21 17" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.3988 2.78271C20.3988 1.68271 19.4988 0.782715 18.3988 0.782715H2.3988C1.2988 0.782715 0.398804 1.68271 0.398804 2.78271V14.7827C0.398804 15.8827 1.2988 16.7827 2.3988 16.7827H18.3988C19.4988 16.7827 20.3988 15.8827 20.3988 14.7827V2.78271ZM18.3988 2.78271L10.3988 7.78271L2.3988 2.78271H18.3988ZM18.3988 14.7827H2.3988V4.78271L10.3988 9.78271L18.3988 4.78271V14.7827Z"/>
      </svg>
    )
  }
  { t('contactme') }
</a>

<style scoped>
.button {
  display: inline-flex;
  align-items: center;
  gap: var(--sl-spacing-x-small);
  border: .3rem solid;
  border-radius: var(--sl-spacing-x-small);
  height: 7rem;
  padding: var(--sl-spacing-x-small) var(--sl-spacing-medium);
  box-sizing: border-box;
  font-size: 2.6rem;
  text-decoration: none;
  background-color: var(--sl-color-primary-500);
  white-space: nowrap;
  color: #FFF;
  fill: #FFF;
  border-color: var(--sl-color-primary-800);
  transition: background-color .2s;
}
.button--light {
  border-color: currentColor
}
.button--sm {
  height: 5rem;
  font-size: 1.8rem;
  padding: var(--sl-spacing-x-small) var(--sl-spacing-small);
}
.button--xs {
  height: 4rem;
  font-size: 1.6rem;
  padding: var(--sl-spacing-x-small) var(--sl-spacing-small);
  border-width: .2rem;
}
.button:hover {
  background-color: var(--sl-color-primary-400);
}
@media (max-width: 767px) {
  .button--sm {
    font-size: 1.5rem;
  }
}
</style>