---
const {
	title,
	role,
	imageSrc,
	isImageScrollable
} = Astro.props
---

<div class="card">
	<!-- {JSON.stringify(Astro.props)} -->
	{imageSrc &&
		<div class:list={[ 'card__img', {'is-scrollable': isImageScrollable} ]}>
			<img src={imageSrc} alt={title} loading="lazy">
		</div>
	}
	<div class="card__content">
		<div>
			<span class="card__role">{role ? role.join(' & ') : ''}</span>
			<h3 class="card__heading">{title}</h3>
		</div>
		<slot />
	</div>
</div>

<style scoped>
.card {
	display: flex;
	flex-direction: row;
	background-color: #FAFAFA;
	border-radius: 2rem;
	box-shadow: 0 .2rem .2rem .1rem rgba(0,0,0,.02);
	padding: var(--sl-spacing-large);
	gap: var(--sl-spacing-large);
}
.card__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: var(--sl-spacing-medium);
}
.card__img {
	overflow: hidden;
	flex: 2;
	aspect-ratio: 16/9;
	padding: var(--sl-spacing-x-small);
	border: .5rem solid var(--sl-color-primary-200);
}
.card__img.is-scrollable {
	overflow: auto;
}
.card > p {
	flex-grow: 1;
}
.card__heading {
	font-size: 2.6rem;
	line-height: 1.2;
}
.card__role {
	display: inline-block;
	text-transform: uppercase;
	font-size: var(--font-size-small);
}

@media (max-width: 767px) {
	.card {
		flex-direction: column;
	}
}
</style>
