---
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const currentLang = getLangFromUrl(Astro.url)
const t = useTranslations(currentLang)
---

<footer class="footer">
  <div>
    <p>{ t('footer.copyright') }</p>
  </div>
  <div class="c-grid">
    <div>
      <a href="mailto:emanuelsaramago@gmail.com?subject=Hi!&body=Hi, I'm contacting to...">emanuelsaramago@gmail.com</a>
    </div>
  </div>
</footer>

<style scoped>
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  padding: var(--gap-lg);
  background-color: rgba(0, 0, 0, .7);
  font-size: 1.5rem;
  color: #FFF;
  fill: #FFF;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column-reverse;
  }
}
</style>