---
import { getLangFromUrl } from '../i18n/utils'
import { languages, defaultLang } from '../i18n/ui'

const currentLang = getLangFromUrl(Astro.url)
---

<header class="c-header">
  <div class="c-logo">
    <svg class="c-logo__icon" width="55" height="55" viewBox="0 0 55 55" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M54.842 19.747C54.842 14.51 52.761 9.48701 49.058 5.78401C45.355 2.081 40.332 0 35.095 0H19.746C14.509 0 9.487 2.081 5.783 5.78401C2.08 9.48701 0 14.51 0 19.747V35.0961C0 40.3331 2.08 45.3551 5.783 49.0581C9.487 52.7621 14.509 54.8421 19.746 54.8421H46.702C48.861 54.8421 50.931 53.9841 52.458 52.4581C53.984 50.9311 54.842 48.8611 54.842 46.7021V19.747Z" fill="white"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M43.9209 22.8034C43.9209 19.6521 42.6687 16.6296 40.4404 14.4014C38.2122 12.1732 35.1898 10.921 32.0385 10.921H22.8025C19.6513 10.921 16.6294 12.1732 14.4006 14.4014C12.1724 16.6296 10.9208 19.6521 10.9208 22.8034V32.0393C10.9208 35.1906 12.1724 38.2125 14.4006 40.4407C16.6294 42.6695 19.6513 43.9211 22.8025 43.9211H42.9455C43.2042 43.9211 43.4521 43.8182 43.635 43.6353C43.818 43.4523 43.9209 43.2044 43.9209 42.9457V22.8034Z" fill="#004B4D"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M35.7793 25.0965C35.7793 23.5101 35.1489 21.9885 34.0272 20.8668C32.9055 19.745 31.3839 19.1146 29.7974 19.1146H25.1478C23.5614 19.1146 22.0401 19.745 20.9181 20.8668C19.7963 21.9885 19.1663 23.5101 19.1663 25.0965V29.7462C19.1663 31.3326 19.7963 32.8539 20.9181 33.9756C22.0401 35.0977 23.5614 35.7278 25.1478 35.7278H33.3135C33.9675 35.7278 34.5946 35.4678 35.0572 35.0056C35.5194 34.543 35.7793 33.9159 35.7793 33.2619V25.0965Z" fill="white"/>
    </svg>
    <span class="c-logo__text">Emanuel Saramago</span>
  </div>
  <ul class="c-language-switcher">
    {Object.entries(languages).map(([lang]) => (
      <li>
        <a href={`/${lang === defaultLang ? '' : lang}`} class={lang === currentLang ? `c-language-switcher__active` : ''}>{lang}</a>
      </li>
    ))}
  </ul>
  <div class="c-social">
    <a href="https://github.com/esaramago" title="Emanuel Saramago's GitHub">
      <svg class="c-icon" width="41" viewBox="0 0 41 40" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.5035 0C17.8119 0 15.1466 0.530159 12.6598 1.56021C10.1731 2.59025 7.91354 4.10002 6.01026 6.0033C2.16641 9.84714 0.00695801 15.0605 0.00695801 20.4965C0.00695801 29.556 5.88947 37.2422 14.0266 39.9683C15.0514 40.1322 15.3794 39.4968 15.3794 38.9434V35.4795C9.70182 36.7093 8.49253 32.733 8.49253 32.733C7.54968 30.3554 6.21741 29.72 6.21741 29.72C4.35222 28.4492 6.36089 28.4902 6.36089 28.4902C8.41054 28.6337 9.49686 30.6013 9.49686 30.6013C11.2801 33.7168 14.293 32.7945 15.4613 32.3025C15.6458 30.9703 16.1787 30.0684 16.7526 29.556C12.2024 29.0436 7.42671 27.2809 7.42671 19.4717C7.42671 17.1966 8.20557 15.3724 9.53785 13.9172C9.33288 13.4047 8.6155 11.2731 9.74281 8.50606C9.74281 8.50606 11.4645 7.95266 15.3794 10.5967C16.9986 10.1458 18.7613 9.92033 20.5035 9.92033C22.2457 9.92033 24.0084 10.1458 25.6276 10.5967C29.5425 7.95266 31.2642 8.50606 31.2642 8.50606C32.3915 11.2731 31.6741 13.4047 31.4691 13.9172C32.8014 15.3724 33.5803 17.1966 33.5803 19.4717C33.5803 27.3014 28.7841 29.0231 24.2134 29.5355C24.9512 30.1709 25.6276 31.4212 25.6276 33.3274V38.9434C25.6276 39.4968 25.9556 40.1527 27.0009 39.9683C35.138 37.2217 41 29.556 41 20.4965C41 17.8049 40.4699 15.1396 39.4398 12.6529C38.4098 10.1661 36.9 7.90658 34.9967 6.0033C33.0935 4.10002 30.8339 2.59025 28.3472 1.56021C25.8604 0.530159 23.1951 0 20.5035 0Z"/>
      </svg>
    </a>
    <a href="https://www.linkedin.com/in/emanuelsaramago/" title="Emanuel Saramago's Linkedin">
      <svg class="c-icon" width="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
        <path d="M33.7847 0C34.9045 0 35.9785 0.44484 36.7703 1.23666C37.5621 2.02848 38.007 3.10242 38.007 4.22222V33.7778C38.007 34.8976 37.5621 35.9715 36.7703 36.7633C35.9785 37.5552 34.9045 38 33.7847 38H4.22918C3.10938 38 2.03544 37.5552 1.24362 36.7633C0.451798 35.9715 0.00695801 34.8976 0.00695801 33.7778V4.22222C0.00695801 3.10242 0.451798 2.02848 1.24362 1.23666C2.03544 0.44484 3.10938 0 4.22918 0H33.7847ZM32.7292 32.7222V21.5333C32.7292 19.7081 32.0041 17.9575 30.7134 16.6669C29.4228 15.3762 27.6722 14.6511 25.847 14.6511C24.0525 14.6511 21.9625 15.7489 20.9492 17.3956V15.0522H15.0592V32.7222H20.9492V22.3144C20.9492 20.6889 22.2581 19.3589 23.8836 19.3589C24.6675 19.3589 25.4192 19.6703 25.9735 20.2246C26.5278 20.7788 26.8392 21.5306 26.8392 22.3144V32.7222H32.7292ZM8.19807 11.7378C9.1387 11.7378 10.0408 11.3641 10.7059 10.699C11.3711 10.0339 11.7447 9.13175 11.7447 8.19111C11.7447 6.22778 10.1614 4.62333 8.19807 4.62333C7.25184 4.62333 6.34436 4.99922 5.67527 5.66831C5.00618 6.3374 4.63029 7.24488 4.63029 8.19111C4.63029 10.1544 6.23474 11.7378 8.19807 11.7378ZM11.1325 32.7222V15.0522H5.28474V32.7222H11.1325Z"/>
      </svg>
    </a>
    <a href="mailto:emanuelsaramago@gmail.com?subject=Hi!&body=Hi, I'm contacting to..." title="Send me an email">
      <svg class="c-icon" width="41" viewBox="0 0 21 17" xmlns="http://www.w3.org/2000/svg">
        <path d="M20.3988 2.78271C20.3988 1.68271 19.4988 0.782715 18.3988 0.782715H2.3988C1.2988 0.782715 0.398804 1.68271 0.398804 2.78271V14.7827C0.398804 15.8827 1.2988 16.7827 2.3988 16.7827H18.3988C19.4988 16.7827 20.3988 15.8827 20.3988 14.7827V2.78271ZM18.3988 2.78271L10.3988 7.78271L2.3988 2.78271H18.3988ZM18.3988 14.7827H2.3988V4.78271L10.3988 9.78271L18.3988 4.78271V14.7827Z"/>
      </svg>
    </a>
  </div>
</header>


<style>
.c-header {
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-sm) var(--gap-lg);
  margin-bottom: var(--gap-lg);
  padding: var(--gap) var(--gap) var(--gap-sm);
  color: #FFF;
  fill: #FFF;
  grid-template-areas: "logo lang soci";
  grid-template-columns: 1fr auto auto;
}

.c-logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}
.c-logo__text {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1;
  flex: 0;
}

.c-social {
  grid-area: soci;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.c-language-switcher {
  grid-area: lang;
  display: flex;
  text-transform: uppercase;
  white-space: nowrap;
  justify-self: end;
  margin-right: calc(var(--gap-sm) * -1);
}
.c-language-switcher li:not(:last-child)::after {
  content: "|";
}
.c-language-switcher a {
  padding: var(--gap-sm);
}
.c-language-switcher__active {
  text-decoration: none;
  font-weight: bold;
  cursor: default;
}

@media (max-width: 767px) {
  .c-header {
    align-items: start;
    margin-block-end: var(--gap);
    grid-template-areas:
      "logo lang"
      "logo soci"
    ;
    grid-template-columns: 1fr auto;
  }
  .c-social {
    gap: var(--gap-sm);
  }
}
@media (max-width: 499px) {
  .c-logo__icon {
    width: 40px;
    height: 40px;
  }
  .c-logo__text {
    font-size: var(--font-size-lg);
  }
}
</style>