---
import Social from '../components/Social.astro'
import ButtonEmail from '../components/ButtonEmail.astro'

import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t: any = useTranslations(lang)

---

<div class="hero">
  <div class="hero__container l-container">
    <span class="hero__1">Olá!</span>
    <h2>
      <span class="hero__2">{ t('hero').heading1 }</span>
      <span class="hero__3">{ t('hero').heading2 }</span>
    </h2>
    <p>{ t('hero').text1 }<br>{ t('hero').text2 }</p>
    <div>
      <ButtonEmail variant="light" />
    </div>
    <div class="social">
      <Social />
    </div>
  </div>
</div>

<style scoped>
.hero {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 90vh;
  box-sizing: border-box;
  padding-block-start: 12rem;
  padding-block-end: var(--sl-spacing-large);
  text-align: center;
  background-color: var(--sl-color-primary-500);
  color: #FFF;
  fill: #FFF;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: url(../img/background.jpg) center center no-repeat;
  background-size: cover;
  opacity: .05;
}
.hero__container {
  position: relative;
  max-width: 85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sl-spacing-large);
}
.hero__1 {
  font-weight: 500;
  font-size: clamp(6rem, 10rem, 10rem);
}
.hero__2 {
  display: block;
  font-size: clamp(2.5rem, 4vw, 3rem);
  font-weight: normal;
  line-height: 1.4;
}
.hero__3 {
  font-size: clamp(4rem, 8vw, 7rem);
  font-weight: normal;
  line-height: 1;
}
p {
  max-width: 75rem;
  font-size: 1.8rem;
}
@media (max-width: 767px) {
  .hero__container {
    gap: var(--sl-spacing-medium);
  }
}
</style>
</style>