<li>
  <svg width="14" height="11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.878.762a1.055 1.055 0 0 0-1.36.15l-6.39 6.39a1 1 0 0 1-1.415 0l-1.955-1.96a1.055 1.055 0 0 0-1.36-.15 1 1 0 0 0-.11 1.5l2.72 2.73.705.705a.999.999 0 0 0 1.415 0l.705-.705 7.155-7.15a1 1 0 0 0-.11-1.51Z" fill="#00787B"/></svg>
  <slot></slot>
</li>


<style scoped>
  li {

  }
</style>