<div class="social">
  <a href="https://github.com/esaramago" title="Emanuel Saramago's GitHub">
    <svg class="c-icon" width="36" viewBox="0 0 41 40" xmlns="http://www.w3.org/2000/svg">
      <path d="M20.5035 0C17.8119 0 15.1466 0.530159 12.6598 1.56021C10.1731 2.59025 7.91354 4.10002 6.01026 6.0033C2.16641 9.84714 0.00695801 15.0605 0.00695801 20.4965C0.00695801 29.556 5.88947 37.2422 14.0266 39.9683C15.0514 40.1322 15.3794 39.4968 15.3794 38.9434V35.4795C9.70182 36.7093 8.49253 32.733 8.49253 32.733C7.54968 30.3554 6.21741 29.72 6.21741 29.72C4.35222 28.4492 6.36089 28.4902 6.36089 28.4902C8.41054 28.6337 9.49686 30.6013 9.49686 30.6013C11.2801 33.7168 14.293 32.7945 15.4613 32.3025C15.6458 30.9703 16.1787 30.0684 16.7526 29.556C12.2024 29.0436 7.42671 27.2809 7.42671 19.4717C7.42671 17.1966 8.20557 15.3724 9.53785 13.9172C9.33288 13.4047 8.6155 11.2731 9.74281 8.50606C9.74281 8.50606 11.4645 7.95266 15.3794 10.5967C16.9986 10.1458 18.7613 9.92033 20.5035 9.92033C22.2457 9.92033 24.0084 10.1458 25.6276 10.5967C29.5425 7.95266 31.2642 8.50606 31.2642 8.50606C32.3915 11.2731 31.6741 13.4047 31.4691 13.9172C32.8014 15.3724 33.5803 17.1966 33.5803 19.4717C33.5803 27.3014 28.7841 29.0231 24.2134 29.5355C24.9512 30.1709 25.6276 31.4212 25.6276 33.3274V38.9434C25.6276 39.4968 25.9556 40.1527 27.0009 39.9683C35.138 37.2217 41 29.556 41 20.4965C41 17.8049 40.4699 15.1396 39.4398 12.6529C38.4098 10.1661 36.9 7.90658 34.9967 6.0033C33.0935 4.10002 30.8339 2.59025 28.3472 1.56021C25.8604 0.530159 23.1951 0 20.5035 0Z"/>
    </svg>
  </a>
  <a href="https://www.linkedin.com/in/emanuelsaramago/" title="Emanuel Saramago's Linkedin">
    <svg class="c-icon" width="34" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
      <path d="M33.7847 0C34.9045 0 35.9785 0.44484 36.7703 1.23666C37.5621 2.02848 38.007 3.10242 38.007 4.22222V33.7778C38.007 34.8976 37.5621 35.9715 36.7703 36.7633C35.9785 37.5552 34.9045 38 33.7847 38H4.22918C3.10938 38 2.03544 37.5552 1.24362 36.7633C0.451798 35.9715 0.00695801 34.8976 0.00695801 33.7778V4.22222C0.00695801 3.10242 0.451798 2.02848 1.24362 1.23666C2.03544 0.44484 3.10938 0 4.22918 0H33.7847ZM32.7292 32.7222V21.5333C32.7292 19.7081 32.0041 17.9575 30.7134 16.6669C29.4228 15.3762 27.6722 14.6511 25.847 14.6511C24.0525 14.6511 21.9625 15.7489 20.9492 17.3956V15.0522H15.0592V32.7222H20.9492V22.3144C20.9492 20.6889 22.2581 19.3589 23.8836 19.3589C24.6675 19.3589 25.4192 19.6703 25.9735 20.2246C26.5278 20.7788 26.8392 21.5306 26.8392 22.3144V32.7222H32.7292ZM8.19807 11.7378C9.1387 11.7378 10.0408 11.3641 10.7059 10.699C11.3711 10.0339 11.7447 9.13175 11.7447 8.19111C11.7447 6.22778 10.1614 4.62333 8.19807 4.62333C7.25184 4.62333 6.34436 4.99922 5.67527 5.66831C5.00618 6.3374 4.63029 7.24488 4.63029 8.19111C4.63029 10.1544 6.23474 11.7378 8.19807 11.7378ZM11.1325 32.7222V15.0522H5.28474V32.7222H11.1325Z"/>
    </svg>
  </a>
  <a href="https://dribbble.com/esaramago" title="Emanuel Saramago's Dribbble">
    <svg class="c-icon" width="36" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_123_2)">
        <path d="M20 0C8.9725 0 0 8.9725 0 20C0 31.0275 8.9725 40 20 40C31.0275 40 40 31.0275 40 20C40 8.9725 31.0275 0 20 0ZM20 37.5C10.35 37.5 2.5 29.6475 2.5 20C2.5 10.35 10.35 2.5 20 2.5C29.6475 2.5 37.5 10.35 37.5 20C37.5 29.6475 29.6475 37.5 20 37.5Z" fill="white" fill-opacity="0.8"/>
        <path d="M20.0001 5C18.9501 5 17.9251 5.11 16.9351 5.315C18.7551 7.895 20.4076 10.58 21.8626 13.3625C24.6151 12.08 27.2051 10.425 29.5701 8.45C26.9726 6.295 23.6376 5 20.0001 5Z" fill="white" fill-opacity="0.8"/>
        <path d="M31.3524 10.215C28.7799 12.3825 25.9499 14.18 22.9449 15.585C23.6024 16.955 24.2124 18.3425 24.7774 19.7525C28.0974 19.07 31.5524 19.0075 34.9774 19.575C34.8774 16 33.5324 12.74 31.3524 10.215Z" fill="white" fill-opacity="0.8"/>
        <path d="M14.425 6.0825C9.92246 7.8875 6.50746 11.8075 5.39746 16.62C10.2525 16.8275 15.0575 16.0175 19.53 14.31C18.0275 11.4575 16.325 8.7075 14.425 6.0825Z" fill="white" fill-opacity="0.8"/>
        <path d="M20.65 16.5725C16.32 18.26 11.695 19.18 6.9925 19.18C6.345 19.18 5.695 19.14 5.045 19.105C5.0275 19.4025 5 19.6975 5 20C5 23.6825 6.3325 27.0525 8.535 29.6625C12.1375 25.19 16.98 21.985 22.34 20.375C21.8175 19.09 21.2525 17.825 20.65 16.5725Z" fill="white" fill-opacity="0.8"/>
        <path d="M25.6949 22.12C26.8874 25.445 27.8224 28.8625 28.5074 32.3475C31.8874 30.015 34.2474 26.3325 34.8399 22.0775C31.7749 21.535 28.6774 21.56 25.6949 22.12Z" fill="white" fill-opacity="0.8"/>
        <path d="M23.2401 22.7C18.2001 24.1725 13.6476 27.1975 10.3101 31.44C12.9251 33.6575 16.3026 35 20.0001 35C22.2201 35 24.3226 34.505 26.2176 33.6375C25.5301 29.9025 24.5301 26.2475 23.2401 22.7Z" fill="white" fill-opacity="0.8"/>
      </g>
      <defs>
        <rect/>
      </defs>
    </svg>
  </a>
  <a href="mailto:emanuelsaramago@gmail.com?subject=Hi!&body=Hi, I'm contacting to..." title="Send me an email">
    <svg class="c-icon" width="36" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M20 40C31.0457 40 40 31.0457 40 20C40 8.9543 31.0457 0 20 0C8.9543 0 0 8.9543 0 20C0 31.0457 8.9543 40 20 40ZM32.0559 30.1634C32.5094 29.7099 32.7649 29.0954 32.7667 28.4541V15.938L19.9943 22.171L7.23321 15.8047V28.4541C7.23496 29.0954 7.49048 29.7099 7.94394 30.1634C8.3974 30.6169 9.01192 30.8724 9.65321 30.8741H30.3467C30.9879 30.8724 31.6025 30.6169 32.0559 30.1634ZM20.0056 19.7803L32.7667 13.552V13.4972C32.7647 12.8561 32.509 12.2418 32.0556 11.7885C31.6022 11.3353 30.9878 11.0799 30.3467 11.0781H9.65132C9.02527 11.0799 8.4241 11.3235 7.97347 11.7581C7.52284 12.1927 7.2576 12.7846 7.23321 13.4102L20.0056 19.7803Z"/>
    </svg>
  </a>
</div>

<style scoped>
.social {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}
</style>
