---
import Card from './Card.astro'
import CardHeading from './CardHeading.astro'
import getImageUrl from '@/utils/getImageUrl'

import { getTechnologies, getTechnologyTypes } from '@/api'

const technologies = await getTechnologies()
const technologyTypes = await getTechnologyTypes()

const groupedTechnologies = []

technologyTypes.forEach((type) => {
  const techs = technologies.filter((tech) => tech.type._ref === type._id)
  const techs2 = techs.map(tech => ({
    name: tech.name,
    slug: tech.slug,
    website: tech.website,
    logo: tech.logo.asset._ref,
  }))

  groupedTechnologies.push({
    title: type.title,
    description: type.description,
    slug: type.slug.current,
    technologies: techs2
  })
})

---
<ul class="technologies">
  {
    groupedTechnologies.map((type: any) => (
      <li>
        <Card gap="medium">
          <div class="technology__header">
            <CardHeading>{ type.title }</CardHeading>
            <p>{ type.description }</p>
          </div>
          <ul class="l-row l-row--small l-row--wrap">
            {
              type.technologies.map((tech: any) => (
                <li>
                  <a href={tech.website} target="_blank">
                    <img class="technology__logo" src={getImageUrl(tech.logo)} alt={tech.name} title={tech.name} loading="lazy" />
                  </a>
                </li>
              ))
            }
          </ul>
        </Card>
      </li>
    ))
  }
</ul>

<style is:global>
.technologies .card {
  align-items: center;
}
</style>
<style>
.technologies {
  display: flex;
  gap: var(--sl-spacing-medium);
  flex-wrap: wrap;
  justify-content: center;
}
.technology__header {
  max-width: 18rem;
  padding-inline-end: var(--sl-spacing-small);
  border-inline-end: 1px solid var(--sl-color-primary-500);
}
.technology__logo {
  max-width: 5rem;
  max-height: 5rem;
}
@media (max-width: 1599px) {
  .technology__logo {
    max-width: 5rem;
    max-height: 5rem;
  }
}
@media (min-width: 1600px) {
  .technology__logo {
    max-width: 7rem;
    max-height: 7rem;
  }
  .technology__header {
    max-width: 25rem;
    padding-inline-end: var(--sl-spacing-medium);
  }
}
@media (max-width: 980px) {
  .technology__header {
    width: 100%;
    max-width: none;
    padding-inline-end: 0;
    border-inline-end: none;
    padding-block-end: var(--sl-spacing-small);
    border-block-end: 1px solid var(--sl-color-primary-500);
  }
}
@media (max-width: 768px) {
  .technologies > li {
    width: 100%;
    max-width: 500px;
  }
}
</style>