:root {
  --color-main-500: #00787B;

  --gap: 3.2rem;
  --gap-sm: calc(var(--gap) / 2);
  --gap-xs: calc(var(--gap) / 4);
  --gap-lg: calc(var(--gap) * 1.5);
}

@media (max-width: 767px) {
  :root {
    --gap: 2.8rem;
  }
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-color: var(--color-main-500);
  font-size: 1.6rem;
  z-index: 1;
  height: 100%;
}
h1,
h2,
h3,
body,
p,
ul {
  margin: 0;
}
ul {
  padding: 0;
}
button {
  background: none;
}
body,
button {
  font-family: 'Montserrat', sans-serif;
}
a,
body,
button {
  color: #FFF;
}

li,
p {
  line-height: 1.5;
}
h3 {
  margin-block-end: var(--gap-sm);
}
ul {
  list-style: none;
}