---
import Layout from '@/layouts/layout.astro'
import Card from '@/components/Card.astro'
import Button from '@/components/Button.astro'
---
<Layout>
  <div class="l-container">
    <h1>Admin</h1>

    <div class="l-cards">
      <Card title="Criar fatura" template="default">
        <form>
          <div class="l-stack l-stack--s">
            <div>
              <label for="client">Cliente</label>
              <select name="client" id="client">
                <option value="1">Vesselindex</option>
              </select>
            </div>
            <div>
              <label for="date">Data</label>
              <input type="date" name="date" id="date">
            </div>
            <div>
              <label for="date">Horas</label>
              <input type="number" name="hours" id="hours">
            </div>
            <Button type="submit">Criar fatura</Button>
          </div>
        </form>
      </Card>
      <Card title="Projects">
        <h2>Criar orçamento</h2>
      </Card>
    </div>
  </div>
</Layout>