---
import '../css/main.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

import { getLangFromUrl, useTranslations } from '../i18n/utils'
import { AstroFont } from 'astro-font'

const currentLang = getLangFromUrl(Astro.url)
const t = useTranslations(currentLang)

---

<!doctype html>
<html lang={currentLang}>
	<head>
		<title>Emanuel Saramago | {t('title')}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content={t('description')}>
		<meta name="keywords" content="Portfolio, Webdesign, Websites, Webdevelopment, Design, Vue.js">
		<meta name="author" content="esaramago">

		<!-- Google Tag Manager -->
		<script is:inline>
			(function (w, d, s, l, i) {
				console.log("GTM");
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-N48BQBH8");
		</script>
		<!-- End Google Tag Manager -->

		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="emanuelsaramago.com" />
		<meta property="og:title" content={t('title')} />
		<meta property="og:description" content={t('description')} />
		<meta property="og:image" content="/img/icons/meta.png" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="emanuelsaramago.com" />
		<meta property="twitter:title" content={t('title')} />
		<meta property="twitter:description" content={t('description')} />
		<meta property="twitter:image" content="/img/icons/meta.png" />

		<!-- Font -->
		<AstroFont
			config={[
				{
					src: [],
					preload: false,
					display: "swap",
					name: "Montserrat",
					fallback: "sans-serif",
					cssVariable: "font-mont",
					googleFontsURL: 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700',
				},
			]}
		/>

		<meta name="generator" content={Astro.generator} />
	</head>
	<body>

		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N48BQBH8" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div class="c-background" aria-hidden="true"></div>
		<div class="c-content">

			<Header />

      <slot />

			<Footer />
		</div>
	</body>
</html>