---
import '../css/main.css'
import Base from '../layouts/Base.astro'
import Card from '../components/Card.astro'

import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

---

<Base>
  <main>
    <div class="c-hero">
      <h1 class="c-hero__1">Olá!</h1>
      <h2>
        <div class="c-hero__2">{ t('hero.heading1') }</div>
        <div class="c-hero__3">{ t('hero.heading2') }</div>
      </h2>
      <p>{ t('hero.text1') }<br>{ t('hero.text2') }</p>
      <div>
        <a href="mailto:emanuelsaramago@gmail.com?subject=Hi!&body=Hi, I'm contacting to..." class="c-button c-button--light">
          <svg width="21" height="17" viewBox="0 0 21 17" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.3988 2.78271C20.3988 1.68271 19.4988 0.782715 18.3988 0.782715H2.3988C1.2988 0.782715 0.398804 1.68271 0.398804 2.78271V14.7827C0.398804 15.8827 1.2988 16.7827 2.3988 16.7827H18.3988C19.4988 16.7827 20.3988 15.8827 20.3988 14.7827V2.78271ZM18.3988 2.78271L10.3988 7.78271L2.3988 2.78271H18.3988ZM18.3988 14.7827H2.3988V4.78271L10.3988 9.78271L18.3988 4.78271V14.7827Z"/>
          </svg>
          { t('contactme') }
        </a>
      </div>
    </div>
    <div class="c-sections">
      <div class="c-section">
        <h2 class="c-section__heading">{ t('services.title') }</h2>
        <div class="c-cards">
          <Card tag="Design" title={ t('services.ui.title') }>
            <p>{ t('services.ui.description') }</p>
          </Card>
          <Card tag="Design" title={ t('services.print.title') }>
            <p>{ t('services.print.description') }</p>
          </Card>
          <Card tag="Development" title={ t('services.institutional.title') }>
            <p>{ t('services.institutional.description') }</p>
          </Card>
          <Card tag="Development" title={ t('services.blogs.title') }>
            <p>{ t('services.blogs.description') }</p>
          </Card>
          <Card tag="Development" title={ t('services.ecommerce.title') }>
            <p>{ t('services.ecommerce.description') }</p>
          </Card>
        </div>

        <a href="mailto:emanuelsaramago@gmail.com?subject=Hi!&body=Hi, I'm contacting to...">
          <svg width="21" height="17" viewBox="0 0 21 17" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.3988 2.78271C20.3988 1.68271 19.4988 0.782715 18.3988 0.782715H2.3988C1.2988 0.782715 0.398804 1.68271 0.398804 2.78271V14.7827C0.398804 15.8827 1.2988 16.7827 2.3988 16.7827H18.3988C19.4988 16.7827 20.3988 15.8827 20.3988 14.7827V2.78271ZM18.3988 2.78271L10.3988 7.78271L2.3988 2.78271H18.3988ZM18.3988 14.7827H2.3988V4.78271L10.3988 9.78271L18.3988 4.78271V14.7827Z" />
          </svg>
          { t('contactme') }
        </a>
      </div>
      <div class="c-section c-features">
        <h2 class="c-section__heading">{ t('work.title') }</h2>
        <div class="c-cards c-cards--wide">
          <Card
            tag="Design & Development"
            title="SOS Trata Dores"
            imageSrc="work/sostratadores"
          >
            <p set:html={ t('work.sostratadores.description') }></p>
            <div>
              <a href="https://sostratadores.pt">sostratadores.pt</a>
            </div>
          </Card>
          <Card
            tag="Design"
            title="Alianza Ferrocarril"
            imageSrc="work/alianza-ferrocarril"
            isImageScrollable={true}
          >
            <p set:html={ t('work.allianza.description') }></p>
          </Card>
          <Card
            tag="Design & Development"
            title="DanteStamp"
            imageSrc="work/dantestamp"
          >
            <p set:html={ t('work.dantestamp.description') }></p>
            <div>
              <a href="https://dantestamp.com">dantestamp.com</a>
            </div>
          </Card>
          <Card
            tag="Design & Development"
            title="Geotur"
            imageSrc="work/geotur"
          >
            <p set:html={ t('work.geotur.description') }></p>
            <div>
              <a href="https://geotur.es">geotur.es</a>
            </div>
          </Card>
          <Card
            tag="Design & Development"
            title="Fito"
            imageSrc="work/fito"
          >
            <p set:html={ t('work.fito.description') }></p>
            <div>
              <a href="https://fitossanidadeflorestal.web.app/">fitossanidadeflorestal.web.app</a>
            </div>
          </Card>
          <Card
            tag="Front End Development"
            title="Geostar"
            imageSrc="work/geostar"
            isImageScrollable={true}
          >
            <p set:html={ t('work.geostar.description') }></p>
          </Card>
        </div>

        <a href="mailto:emanuelsaramago@gmail.com?subject=Hi!&body=Hi, I'm contacting to...">
          <svg width="21" height="17" viewBox="0 0 21 17" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.3988 2.78271C20.3988 1.68271 19.4988 0.782715 18.3988 0.782715H2.3988C1.2988 0.782715 0.398804 1.68271 0.398804 2.78271V14.7827C0.398804 15.8827 1.2988 16.7827 2.3988 16.7827H18.3988C19.4988 16.7827 20.3988 15.8827 20.3988 14.7827V2.78271ZM18.3988 2.78271L10.3988 7.78271L2.3988 2.78271H18.3988ZM18.3988 14.7827H2.3988V4.78271L10.3988 9.78271L18.3988 4.78271V14.7827Z" />
          </svg>
          { t('contactme') }
        </a>
      </div>
      <div class="c-section c-features">
        <h2 class="c-section__heading">{ t('brands.title') }</h2>
        <ul class="c-features__list">
          <li>
            <img class="c-features__logo" src="media/brands/continente.svg" alt="Continente" title="Continente" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/brands/publico.svg" alt="Público" title="Público" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/brands/best-bank.svg" alt="Best Bank" title="Best Bank" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/brands/tap.svg" alt="TAP Air Portugal" title="TAP Air Portugal" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/brands/loreal.svg" alt="L'Oreal" title="L'Oreal" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/brands/geostar.svg" alt="Geostar" title="Geostar" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/brands/benfica.svg" alt="SL Benfica" title="SL Benfica" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/brands/zero.svg" alt="Associação Ambientalista Zero" title="Associação Ambientalista Zero" loading="lazy">
          </li>
          <li>
            { t('andmore') }
          </li>
        </ul>
      </div>
      <div class="c-section c-features">
        <h2 class="c-section__heading">{ t('technologies.title') }</h2>
        <ul class="c-features__list">
          <li>
            <img class="c-features__logo" src="media/technologies/figma.svg" alt="Figma" title="Figma" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/technologies/html.svg" alt="HTML" title="HTML" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/technologies/css.svg" alt="CSS" title="CSS" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/technologies/javascript.svg" alt="Javascript" title="Javascript" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/technologies/vue.svg" alt="Vue" title="Vue" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/technologies/astro.svg" alt="Astro" title="Astro" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/technologies/wordpress.svg" alt="Wordpress" title="Wordpress" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/technologies/supabase.svg" alt="Supabase" title="Supabase" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/technologies/firebase.svg" alt="Firebase" title="Firebase" loading="lazy">
          </li>
          <li>
            <img class="c-features__logo" src="media/technologies/vercel.svg" alt="Vercel" title="Vercel" loading="lazy">
          </li>
          <li>
            { t('andmore') }
          </li>
        </ul>
      </div>

      <div class="c-section c-features">
        <h2 class="c-section__heading">{ t('interested') }</h2>
        <div>
          <a href="mailto:emanuelsaramago@gmail.com?subject=Hi!&body=Hi, I'm contacting to..." class="c-button">
            <svg width="21" height="17" viewBox="0 0 21 17" xmlns="http://www.w3.org/2000/svg">
              <path d="M20.3988 2.78271C20.3988 1.68271 19.4988 0.782715 18.3988 0.782715H2.3988C1.2988 0.782715 0.398804 1.68271 0.398804 2.78271V14.7827C0.398804 15.8827 1.2988 16.7827 2.3988 16.7827H18.3988C19.4988 16.7827 20.3988 15.8827 20.3988 14.7827V2.78271ZM18.3988 2.78271L10.3988 7.78271L2.3988 2.78271H18.3988ZM18.3988 14.7827H2.3988V4.78271L10.3988 9.78271L18.3988 4.78271V14.7827Z"/>
            </svg>
            { t('contactme') }
          </a>
        </div>
      </div>
    </div>
  </main>
</Base>