---
import '../css/main.css'
import Header from '../components/AppHeader.astro'
import Footer from '../components/AppFooter.astro'

import { getLangFromUrl, useTranslations } from '../i18n/utils'

import { Analytics } from '@vercel/analytics/react'

const currentLang = getLangFromUrl(Astro.url)
const t: any = useTranslations(currentLang)

---

<!doctype html>
<html lang={currentLang}>
	<head>
		<title>Emanuel Saramago | {t('title')}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content={t('description')}>
		<meta name="keywords" content="Portfolio, Webdesign, Websites, Webdevelopment, Design, Vue.js">
		<meta name="author" content="esaramago">

		<!-- Google Tag Manager -->
		<script is:inline>
			(function (w, d, s, l, i) {
				console.log("GTM");
				w[l] = w[l] || [];
				w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
				var f = d.getElementsByTagName(s)[0],
					j = d.createElement(s),
					dl = l != "dataLayer" ? "&l=" + l : "";
				j.async = true;
				j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, "script", "dataLayer", "GTM-N48BQBH8");
		</script>
		<!-- End Google Tag Manager -->

		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-GY7BYJ0SZ2"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-GY7BYJ0SZ2');
		</script>

		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="emanuelsaramago.com" />
		<meta property="og:title" content={t('title')} />
		<meta property="og:description" content={t('description')} />
		<meta property="og:image" content="/img/icons/meta.png" />

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="emanuelsaramago.com" />
		<meta property="twitter:title" content={t('title')} />
		<meta property="twitter:description" content={t('description')} />
		<meta property="twitter:image" content="/img/icons/meta.png" />

		<!-- Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
	</head>
	<body>

		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N48BQBH8" height="0" width="0" style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

			<Header />

      <slot />

			<Footer />

			<Analytics />
	</body>
</html>